@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Poppins&family=Raleway:wght@400;500;700&family=Titillium+Web&family=Ubuntu&display=swap');

@layer base {
  :root {
    --text-color: 
  }
}

body {
  font-family: 'Noto Sans', sans-serif;
}

  @media (max-width: 400px) {
    .taskbar {
      flex-direction: column;
      margin: auto;
      height: fit-content; 
    }
    .filters{margin-top: 5px;}
}


::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgb(229 231 235);
}

::-webkit-scrollbar-thumb {
  background: #334155;
}

::-webkit-scrollbar-thumb:hover {
  background: #0f172a;
}